@media(max-width: 1201px){
.logos-img{
	flex-wrap: wrap;
}
}
@media(max-width: 1160px){
.price__items{
	flex-direction: column;
	align-items: center;
}
.price-item{
	max-width: 460px;
	margin-bottom: 20px;
	padding: 0 20px 40px;
}
.price-item__number {
	top: -376px;
left: 0;
right: 0;
margin: 0 auto;
}
.price_descr{
	margin: 35px auto 50px;
}
.reviews-box {
	display: flex;
	justify-content: center;
	box-shadow: none;
}
.reviews-slider {
	margin-top: 60px;
}
.logos {
	padding: 70px 0 60px;
}
}

@media(max-width: 1065px){
	.top-info{
		max-width: 425px;
	}
	.footer__inner{
		flex-wrap: wrap;
	}
	.footer-col__logo{
		width: 100%;
		margin-bottom: 30px;
	}
}

@media(max-width: 992px){
	.menu__list{
		display: none;
		position: absolute;
		top: 87px;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		border-top: 1px solid #2575e7;
		z-index: 5;
	}
	.menu__list li{
		margin-left: 0;
	}
	.menu__list a{
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #2575e7;
		background: #fff;

	}
	.btn__menu{
		display: block;
	}
}
@media(max-width: 940px){
	.top-info{
		max-width: 325px;
	}
	.logos {
		padding: 40px 20px 30px;
	}
}

@media(max-width: 855px){
	.top-image__box img{
		width: 300px;
	}
	.top-image__circle{
		width: 160px;
		height: 160px;
		top: -30px;
		right: -30px;
	}
}
@media(max-width: 770px){
	.reviews {
    padding: 80px;
}
	.reviews-box{
		flex-direction: column;
		align-items: center;
	}
	.reviews-box__img{
		min-height: 150px;
		width: 100%;
	}
	.revies-box__content {
		width: 100%;
	}
}

@media(max-width: 740px){
	.top__inner{
		flex-wrap: wrap;
		justify-content: center;
	}
	.top-info{
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 75px;
	}
	.top,
	.price{
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.footer-form{
		width: 100%;
		margin-top: 30px;
	}
	.footer__inner{
		justify-content: flex-start;
	}
}
@media(max-width: 540px){
	.reviews {
    padding: 40px;
}
	.title{
	font-size: 30px;
	}
	.reviews-slider {
    margin-top: 20px;
}
.reviews-slider .slick-slide {
	padding-bottom: 40px;
	margin: 0 10px;
}
}



@media(max-width: 399px){
	.top-image_title{

		line-height: 42px;
	}
	.top-image__circle{
		top: -5px;
		right: 10px;
	}
	.footer-menu{
		margin-bottom: 30px;
		width: 100%;
	}
	.footer-form{
		margin-top: 0;
	}

}
@media(max-width: 330px){
}

@media(min-width:992px) {
	.menu__list{
		display: flex !important;
	}
}