@font-face{
	font-family: 'OpenSans-Bold';
	src: url('../resources/fonts/OpenSans-Bold.ttf');
	font-family: 'Lato-Bold';
	src: url('../resources/fonts/Lato-Bold.ttf');
	font-family: 'Lato-Regular';
	src: url('../resources/fonts/Lato-Regular.ttf');
	font-family: 'Roboto-Black';
	src: url('../resources/fonts/Roboto-Black.ttf');
	font-family: 'Roboto-Bold';
	src: url('../resources/fonts/Roboto-Bold.ttf');
	font-family: 'Roboto-Regular';
	src: url('../resources/fonts/Roboto-Regular.ttf');
}


body{
	font-weight: 400;
	font-family: 'Lato-Regular', sans-serif;
	font-weight: 400;
	line-height: 24px;
	color: #4a6385;
	font-size: 14px;
}

a{
	color: #000;
	display: inline-block;
}


.header {
	border-top: 1px solid #3983e5;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	line-height: 24px;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 87px;
}

.menu__list {
	display: flex;
}
.menu__list li {
	margin-left: 38px;
}
.menu__list a{
	font-size: 14px;
	color: #2f3f54;
	font-weight: 700;
	font-family: 'OpenSans-Bold', sans-serif
}

.top {
	background: #3782e5;
	padding-top: 150px;
	padding-bottom: 180px;
}
.container {
}
.top__inner {
	display: flex;
}
.top-info {
	max-width: 555px;
	margin-right: 35px;
	color: #fff;
}

.top-info__title {
	font-family: 'Roboto-Black', sans-serif;
	font-weight: 900;
	font-size: 48px;
	line-height: 52px;
	text-transform: uppercase;
}
.top-info__descr {
	font-size: 19px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 35px;
}
.top-info__descr span{
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
.top-info__list {
margin-bottom: 50px;
}
.top-info__list li{
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 3px;
	padding-left: 24px;
	position: relative;
}
.top-info__list li img{
	margin-top: 4px;
}
.top-info__list li::before{
	content: '';
	background: url('../resources/img/check.png') left no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.top-info__btn {
	color: #fff;
	text-transform: uppercase;
	border: 3px solid #fff;
	padding: 13px 44px;
	border-radius: 30px;
	margin-bottom: 15px;
}

.top-image {
}
.top-image__box {
	position: relative;
}
.top-image__circle {
	width: 230px;
	height: 230px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #212121;
	position: absolute;
	top: -65px;
	right: -60px;
}
.top-image_title {
	margin-bottom: 10px;
	text-align: left;
	width: 140px;
}
.top-image_price {
	font-size: 54px;
	font-weight: 700;
	margin-bottom: 5px;
}
.top-image_data {
	text-align: right;
	width: 140px;
}
.price {
	padding: 150px 0 180px;
}

.title {
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	font-weight: 700px;
	font-family: 'Roboto-Bold',sans-serif;
}
.title span{
	color:#2c7de8;
}
.price_descr {
	margin-top: 40px;
	max-width: 594px;
	margin: 35px auto 125px;
}
.price__items {
display: flex;
justify-content: space-between;
}
.price-item {
	max-width: 360px;
	box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
	padding: 0 50px 60px;
	position: relative;
	overflow: hidden;
}
.price-item__number {
	width: 265px;
	height: 465px;
	border-radius: 136px;
	color: #fff;
	background: #2c7de8;
	position: absolute;
	top: -370px;
	font-family: 'Roboto-Bold',sans-serif;
	font-weight: 700;
	font-size: 33px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 40px;
}
.price-item__number span{
	font-size: 16px;
}
.price-item__image {
	padding-top: 120px;
	text-align: center;
	margin-bottom: 30px;
	min-height: 251px;
}
.price-item__title {
	margin-bottom: 25px;
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	font-family: 'Roboto-Bold',sans-serif;
	color: #2c7de8;
}
.price-item__text {
	margin-bottom: 50px;
}
.price-item__list {
margin-bottom: 75px;
}
.price-item__list li{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 12px;
	font-family: 'Roboto-Regular',sans-serif;
	font-weight: 400;
	padding-left: 36px;
	position: relative;
	}
	.price-item__list li::before{
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url('../resources/img/check2.png') no-repeat;
		width: 15px;
		height: 11px;
	}
.price-item__btn {
	font-size: 17px;
	color: #fff;
 background: #2c7de8;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 text-align: center;
 padding: 20px 10px;
}
.footer{
	background: #304054;
	padding: 80px 0 125px;
}
.footer__inner{
	display: flex;
	justify-content: space-between;
}
.footer-col__logo{
	width: 263px;
}
.footer__logo{
	margin-bottom: 30px;
}
.footer__text{
	font-size: 13px;
	line-height: 22px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer__title{
	font-size: 16px;
	font-family: 'Roboto-Regular',sans-serif;
	font-weight: 400;
	color: #d0e4ff;
	margin-bottom: 30px;
}
.footer__list a{
	font-size: 13px;
	margin-bottom: 8px;
	color: #718db2;
}
.footer-menu{
	width: 180px;
}
.footer-form{
	width: 263px;
}
.footer-form input,
.footer-form textarea{
	border: 1px solid rgba(255, 255, 255, 0.05);
	background-color: transparent;
	height: 38px;
	display: block;
	width: 100%;
	padding: 0 12px;
	color: #718db2;
	font-size: 11px;
	font-family: 'Lato-Regular', sans-serif;
	font-weight: 400;
}
.footer-form input::placeholder,
.footer-form textarea::placeholder{
	color: #718db2;
	font-size: 11px;
	font-family: 'Lato-Regular', sans-serif;
	font-weight: 400;

}
.footer-form textarea{
padding-top: 12px;
height: 85px;
resize: none;
md: 10px;
}
.footer-form button{
text-transform: uppercase;
color: #fff;
font-family: 'Roboto-Regular',sans-serif;
font-weight: 400;
font-size: 13px;
background: #2575e7;
padding: 10px;
cursor: pointer;
}
.reviews{
	padding: 120px;
	background: #fafafa;
	
}
.reviews-slider{
	margin-top: 160px;
}
.reviews-slider .slick-list {
	margin: 0 -50px;
}
.reviews-slider .slick-slide {
	padding-bottom: 70px;
	margin: 0 50px;
}
.reviews-slider__item {

}
.reviews-box {
	display: flex;
	box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}
.reviews-slider .slick-dots{
display: flex;
justify-content: center;
}
.reviews-slider .slick-dots li{
	margin: 0 8px;
}
.reviews-slider .slick-dots li.slick-active button{
	background: #fff;
	border: 2px solid #2575e7;
}
.reviews-slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 0;
	background: #2575e7;

}

.reviews-box__img{
	background: #2575e7;
	width: 190px;
	max-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reviews-box__img img{
 border-radius: 50%;
}
.revies-box__content{
	background: #fff;
	width: 330px;
	font-size: 16px;
	line-height: 26px;
	padding: 0 40px;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.reviews-box__text {
	margin-bottom: 30px;


}
.reviews-box__author {
}
.reviews-box__author span{
	color: #2575e7;
	font-weight: 700;
	font-family: 'Roboto-Bold',sans-serif;
}

.logos {
	background: #fff;
	padding: 115px 0 100px;
	display: flex;
	justify-content: center;
}
.logos-img{
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
width: 200px;
height: 85px;
display: flex;
align-items: center;
justify-content: center;
}
.logo-min{
	width: 100px;
}
/* media */
.btn__menu{
width: 40px;
display: none;
}
.btn__menu div{
height: 5px;
background: #2f3f54;
margin-bottom: 5px;
	}